.cardGrid {
    display: flex;
    flex-direction: column; /* Arrange categories vertically */
    gap: 60px; /* Reduce gap between categories */
    padding: 20px; /* Maintain some padding around the grid */
    background-color: rgb(35, 108, 121);
  }
  
  .categorySection {
    margin-bottom: 10px; /* Add a small margin at the bottom of each category section */
  }
  
  .categoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Reduce the margin below the category header */
  }
  
  .slickSlider {
    width: 100%;
  }
  
  .slickSlide {
    display: flex;
    justify-content: center;
    margin: 0 20px; /* Reduce space between slides */
  }
  
  .movieCard {
    background-color: black;
    border: 25px solid goldenrod;
    border-radius: 20px;
    overflow: hidden;
    width: 250px; /* Adjust the width of movie cards */
  }
  
  .movieCard img {
    width: 100%;
    display: block;
  }
  
  .movieInfo {
    padding: 5px; /* Reduce padding inside movie cards */
    text-align: left;
    font-size: 10px; /* Reduce font size */
  }
  
  .categoryTitle {
    font-size: 20px; /* Reduce the font size of category titles */
    margin: 5px 0; /* Reduce margin around category titles */
  }
  
  /* Button styled as a link */
  .linkButton {
    background: none;
    color: goldenrod;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .linkButton:hover {
    text-decoration: none;
  }
  
  /* Traditional link */
  .linkA {
    color: goldenrod;
    text-decoration: underline;
  }
  
  .linkA:hover {
    text-decoration: none;
  }
  