.searchResults {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .searchResults p {
    width: 100%;
    text-align: center;
  }
  
  .searchResults .movieCard {
    margin: 10px;
  }
  